<figure>
    <div align="center">
        <img src="https://asadaelrodeotarrazu.com/img/agua3.jpg" alt="Logo">
    </div>
</figure>
<nav class="navbar navbar-expand-sm justify-content-center bg-primary">
    <div class="container">
        <!-- Brand/logo -->
        
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">
                <img src="assets/gotas-de-agua.svg" alt="logo" style="width:50px;">
            </a>
            <li class="nav-item dropdown align-content-sm-center">
                <a class="nav-link" href="/empresa"  aria-expanded="false">
                <p>INICIO</p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                <p>USUARIO</p>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="create-consumidor" class="dropdown-item" href="#">CREAR</a>
                    <a class="dropdown-item" href="#">LISTAR</a>
                    <a class="dropdown-item" href="#">ACTUALIZAR</a>
                    <a class="dropdown-item" href="#">BORRAR</a>
                  </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/inicio" aria-expanded="false">
                <p>MEDIDOR</p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" aria-expanded="false">
                <p>CONSUMO</p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/login" aria-expanded="false">
                <p>LOGIN</p>
                </a>
            </li>
        </ul> 
    </div>
</nav>