<figure>
    <div align="center">
        <img src="assets/agua3.jpg" alt="Logo">
    </div>
</figure>
<nav class="navbar navbar-expand-sm justify-content-center bg-primary">
    <div class="container">
        <!-- Brand/logo -->
        
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">
                <img src="assets/gotas-de-agua.svg" alt="logo" style="width:50px;">
            </a>
            <li class="nav-item dropdown align-content-sm-center">
                <a class="nav-link" href="/empresa"  aria-expanded="false">
                <p>INICIO</p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                <p>USUARIO</p>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="createconsumidor" class="nav-link" routerLinkActive="active" href="">Crear</a>
                    <a class="nav-link" href="#">Listar</a>
                    <a class="nav-link" href="#">Actualizar</a>
                    <a class="nav-link" href="#">Eliminar</a>
                  </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" aria-expanded="false" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                <p>MEDIDOR</p>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                    <a routerLink="createmedidor" class="nav-link" routerLinkActive="active" href="">Crear</a>
                    
                  </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" aria-expanded="false">
                <p>CONSUMO</p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="createconsumidor" aria-expanded="false">
                <p>LOGIN</p>
                </a>
            </li>
        </ul> 
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>


<footer class="page-footer">
    <div class="footer-copyright text-center py-3">                
        © 2020 Copyright:
        <a href="#">SGAP</a>                              
    </div>
<!-- Copyright -->
</footer>

